<header class="header-bar">
    <div class="logo-section" (click)="toggleSidebar()">
        <img class="logo-Moveo" src="/assets/moveo2.png" alt="Moveo logo" />
        <span class="logo-text">MOVEO</span>
    </div>
    <nav class="nav-links">
        <a routerLink="/provider/dashboard">Dashboard</a>
        <a routerLink="/provide">Add Car</a>
        <a routerLink="/provide/your-cars">Your Cars</a>
        <a routerLink="/provide/payment">Payment</a>
    </nav>
    <div class="profile-icon">
        <a routerLink="/provider/profile">
            <img src="/assets/person3.png" alt="Profile" />
        </a>
    </div>
</header>

<app-sidebar [isOpen]="sidebarOpen" (closeEvent)="closeSidebar()"></app-sidebar>
