<app-header-bar></app-header-bar>
<div class="payment-container">
    <h1 class="title">Payment<br />Information</h1>
    <div class="info-row">
        <div class="info-left">
            <p class="label"><strong>Card Number:</strong> **6249</p>
            <p class="label"><strong>Holder:</strong> Manolo Maracuya</p>
        </div>
        <div class="info-right">
            <p class="visa">VISA</p>
        </div>
    </div>
    <button class="edit-button" (click)="goToEdit()">Edit Payment Information</button>
</div>

