<app-header-bar-provider></app-header-bar-provider>

<div class="provide-container">
        <h2 class="form-title">Lets Begin</h2>
    <form [formGroup]="provideForm" (ngSubmit)="submitForm()" class="form-grid">

        <div class="form-row">
            <label>Brand</label>
            <input type="text" formControlName="brand" placeholder="Brand" />
        </div>

        <div class="form-row">
            <label>Model</label>
            <input type="text" formControlName="model" placeholder="Model" />
        </div>

        <div class="form-row">
            <label>Year</label>
            <input type="text" formControlName="year" placeholder="Year" />
        </div>

        <div class="form-row">
            <label>License plate</label>
            <input type="text" formControlName="licensePlate" placeholder="License" />
        </div>

        <div class="form-row">
            <label>Color</label>
            <input type="text" formControlName="color" placeholder="Color" />
        </div>

        <div class="form-row">
            <label>Number of Seats</label>
            <input type="number" formControlName="seats" placeholder="Number of Seats" />
        </div>

        <div class="form-row">
            <label>(Manual/Automatic)</label>
            <select formControlName="transmission">
                <option value="" disabled selected>Select Transmission</option>
                <option value="Manual">Manual</option>
                <option value="Automatic">Automatic</option>
            </select>
        </div>

        <div class="form-row">
            <label>PickUp Place</label>
            <select formControlName="pickupPlace">
                <option value="" disabled selected>Select Pickup Place</option>
                <option value="Playa de Estacionamiento Luis Alache Ascencio">
                    Playa de Estacionamiento Luis Alache Ascencio
                </option>
                <option value="Playa De Estacionamiento Alcanfores">
                    Playa De Estacionamiento Alcanfores
                </option>
            </select>
        </div>

        <div class="form-row full-width">
            <label>Take a photo of your car</label>
            <input type="file" (change)="onFileChange($event)" />
        </div>

        <button type="submit" class="submit-btn" [disabled]="!provideForm.valid">
            Submit
        </button>
    </form>
</div>
