.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00bfa5;
  padding-inline: 20px;
  padding-block: 20px;
}



.logo-Moveo {
  height: 30px;
  padding: 10px;
}



.nav-links a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 10px;
}

.nav-links a.active {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 4px;
}

.profile-icon img {
  height: 24px;
  cursor: pointer;
}
