<header class="header-bar">
    <div class="logo-section">
        <img class="logo-Moveo" src="/assets/moveo2.png" alt="Moveo logo" />
        <span>MOVEO</span>
    </div>
    <nav class="nav-links">
        <a routerLink="/rent">Rent</a>
        <a routerLink="/record">Record</a>
        <a routerLink="/payment">Payment</a>
    </nav>
    <div class="profile-icon">
        <a routerLink="/profile">
            <img src="/assets/person3.png" alt="Profile" />
        </a>
    </div>
</header>

