<app-header-bar></app-header-bar>

<div class="back-button" (click)="goBack()">
    <img src="/assets/arrow.png" alt="Back" />
</div>

<div class="edit-profile-wrapper">
    <div class="edit-profile-container">
        <h2>Edit profile</h2>

        <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
        <label for="name">Name</label>
            <input id="name" formControlName="fullName" type="text" placeholder="Insert Name" />

            <label for="surname">Surname</label>
            <input id="surname" formControlName="surname" type="text" placeholder="Insert Surname" />

            <label for="email">Email</label>
            <input id="email" formControlName="email" type="email" placeholder="Insert Email" />

            <button type="submit" [disabled]="!profileForm.valid">Save changes</button>
        </form>
    </div>
</div>

