<div class="archived-container">
    <button class="back-btn" (click)="goBack()">←</button>

    <div class="archived-card">
        <h2 class="success-title">✔️ Record archived successfully</h2>
        <p class="email-info">
            An email with the record details has been sent to: <br />
            <strong>hola123agmail.com</strong>
        </p>

        <h3 class="details-title">📄 Record Details</h3>

        <div class="details-grid">
            <div class="left-info">
                <p><strong>Date:</strong> 05/03/2025</p>
                <p><strong>Start Hour:</strong> 2:00pm</p>
                <p><strong>End Hour:</strong> 7:00pm</p>
                <p><strong>Distance Travelled:</strong> 21.7 km</p>
                <p><strong>Rating:</strong> ⭐ 4.85 / 5</p>
                <p><strong>Price:</strong> S/ 15.30</p>
                <p><strong>Pickup Point:</strong> Playa De Estacionamiento Alcanfore</p>
                <p><strong>Reservation ID:</strong> MV–002154</p>
            </div>

            <div class="right-info">
                <h4><strong>Toyota Corolla – CZT-728</strong></h4>
                <img src="assets/toyota.png" alt="Toyota Corolla" />
            </div>
        </div>

        <div class="btn-container">
            <button class="go-back-btn">⬅️ Go back</button>
        </div>
    </div>
</div>
