<app-header-bar></app-header-bar>


<div class="confirmation-container">
    <div class="header">
        <button class="back-button" (click)="goBack()">
            <img src="/assets/arrowleft.png" alt="Back" />
        </button>
        <h1 class="title">Your record was successfully archived</h1>
        <p class="subtitle">Your record information will be sent to your email address:</p>
        <p class="email">hola123&#64;gmail.com</p>
    </div>

    <div class="record-details">
        <div class="details-left">
            <h2>Record Details</h2>
            <div class="detail-row">
                <div><strong>Date</strong><br />05/03/2025</div>
                <div><strong>Start Hour</strong><br />2:00pm</div>
                <div><strong>End Hour</strong><br />7:00pm</div>
                <div><strong>Distance Travelled</strong><br />21.7 km</div>
                <div><strong>Rating</strong><br />4.85 Points</div>
            </div>
            <div class="detail-row">
                <div><strong>Price</strong><br />S/ 15.30</div>
                <div><strong>Pickup Point</strong><br />Playa De Estacionamiento Alcanfore</div>
                <div><strong>Reservation ID</strong><br />MV–002154</div>
            </div>
        </div>

        <div class="details-right">
            <h3><strong>Toyota Corolla – CZT–728</strong></h3>
            <img src="/assets/car1.png" alt="Toyota" />
        </div>
    </div>

    <button class="go-back-button" (click)="goBack()">Go back</button>
</div>
